.day23 {
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  background: #e16d6c;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  .circle {
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 50px;
    top: 175px;
    left: 175px;
    background: #fff;
    border-radius: 50%;
    animation: circle_d23 1s ease-in-out;
    animation-fill-mode: forwards;
  }

  .line {
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 4px;
    top: 198px;
    background: #fff;
    scale: 0 1;

    &.left {
      left: 50px; // 左推50px
      transform-origin: 100% 50%;
      animation: lines_d23 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
    }

    &.right {
      right: 50px; // 右推50px
      transform-origin: 0% 50%;
      animation: lines_d23 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
    }
  }

  .bracket {
    position: absolute;
    z-index: 10;
    height: 70px;
    width: 4px;
    top: 165px;
    background: #fff;
    animation: bracket 0.4s ease-out 1.7s;
    animation-fill-mode: both;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 25px;
      height: 4px;
      background: #fff;
    }

    &.left {
      left: 50px;
      &:before {
        top: 0;
        left: 0;
        transform-origin: 0% 50%;
        animation: bracket-line 0.2s ease-out 2.1s;
        animation-fill-mode: both;
      }

      &:after {
        bottom: 0;
        left: 0;
        transform-origin: 0% 50%;
        animation: bracket-line 0.2s ease-out 2.1s;
        animation-fill-mode: both;
      }
    }

    &.right {
      right: 50px;
      &:before {
        top: 0;
        right: 0;
        transform-origin: 100% 50%;
        animation: bracket-line 0.2s ease-out 2.1s;
        animation-fill-mode: both;
      }

      &:after {
        right: 0;
        bottom: 0;
        transform-origin: 100% 50%;
        animation: bracket-line 0.2s ease-out 2.1s;
        animation-fill-mode: both;
      }
    }
  }

  .big {
    position: absolute;
    z-index: 5;
    top: 173px;
    width: 400px;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
  }

  .hide {
    position: absolute;
    z-index: 7;
    width: 400px;
    height: 40px;
    background: #e16d6c;
    // background: #000;
    left: 0;
    animation: reveal_d23 0.4s ease-out 1.7s;
    animation-fill-mode: both;

    &.top {
      bottom: 49%;
      transform-origin: 50% 0%;
    }

    &.bottom {
      top: 49%;
      transform-origin: 50% 100%;
    }
  }

  .small {
    position: absolute;
    z-index: 10;
    width: 400px;
    text-align: center;
    left: 0;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;

    &.top {
      top: 140px;
      animation: small-top 0.5s ease-out 2.2s;
      animation-fill-mode: both;
    }

    &.bottom {
      bottom: 140px;
      animation: small-bottom 0.5s ease-out 2.2s;
      animation-fill-mode: both;
    }
  }
}

@keyframes circle_d23 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  90%,
  100% {
    scale: 0;
  }
}

@keyframes lines_d23 {
  0% {
    scale: 0 1;
  }
  50% {
    scale: 1 1;
  }
  100% {
    scale: 0 1;
  }
}

@keyframes line-left {
  0% {
    transform-origin: 100% 50%;
  }
  50% {
    transform-origin: 0% 50%;
  }
}

@keyframes line-right {
  0% {
    transform-origin: 0% 50%;
  }
  50% {
    transform-origin: 100% 50%;
  }
}

@keyframes bracket {
  0% {
    scale: 1 0;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes bracket-line {
  0% {
    scale: 0 1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes reveal_d23 {
  0% {
    scale: 1 1;
  }
  100% {
    scale: 1 0;
  }
}

@keyframes small-top {
  0% {
    translate: -20px;
    opacity: 0;
  }
  100% {
    translate: 0px;
    opacity: 1;
  }
}

@keyframes small-bottom {
  0% {
    translate: 20px;
    opacity: 0;
  }
  100% {
    translate: 0px;
    opacity: 1;
  }
}
