@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic);
.day12 {
  background: #4cb6de;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.quote_d12 {
  position: relative;
  margin-top: 90px;
  padding: 0 30px;

  &:before {
    display: block;
    position: absolute;
    z-index: 0;
    content: "„";
    font-family: Arial;
    font-size: 250px;
    color: #6ac2e3;
    line-height: 35px;
    top: -100px;
    left: 7px;
  }
  p {
    position: relative;
    z-index: 1;
    font-size: 24px;
    line-height: 35px;
    margin: 20px 0;
  }

  .author {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    background: #286f8a;
    padding: 0 8px 5px 8px;
    margin: -10px 0;
    cursor: pointer;

    &:hover .info,
    &:focus .info {
      visibility: visible;
      opacity: 1;
      // hover時，.info會從(0,-20px,0)降下來
      transform: translate3d(0, 0, 0);
    }
    .info {
      box-sizing: border-box;
      position: absolute;
      bottom: 53px;
      left: -85px;
      display: block;
      background: #286f8a;
      width: 300px;
      font-size: 16px;
      line-height: 24px;
      // 改變滑鼠為I，讓文字可以複製
      cursor: text;
      visibility: hidden;
      opacity: 0;
      transform: translate3d(0, -20px, 0);
      transition: all 0.5s ease-out;
      // 使滑鼠hover中間的空白也可以顯示工具提示
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 14px;
        bottom: -14px;
        left: 0;
      }
      // 為工具提示下方的小角
      &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
        background: #286f8a;
      }

      .pronounce {
        display: block;
        background: #fff;
        color: #286f8a;
        padding: 8px 17px 10px 17px;
        line-height: 16px;

        .fa {
          position: relative;
          margin-left: 10px;
          top: 1px;
          cursor: pointer;
          transition: all 0.2s ease-out;
          &:hover {
            transform: scale(1.15) translate3d(0, 0, 0);
            backface-visibility: none;
          }
        }
      }
      .text {
        display: block;
        padding: 13px 17px;
      }
    }
  }
}
