@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(https://100dayscss.com/codepen/css/font-awesome.min.css);

$speed: 60s;

.day10 {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #4c4c4c;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.center_d10 {
  position: absolute;
  width: 212px;
  height: 212px;
  top: 87px;
  left: 87px;
  border: 7px solid #3a3a3a;
  background: #242424;
  border-radius: 50%;
  text-align: center;

  .date {
    position: absolute;
    top: 68px;
    width: 100%;
  }

  .time {
    position: absolute;
    top: 80px;
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin: 4px 0;
  }

  .beat {
    position: absolute;
    top: 129px;
    left: 57px;
    span {
      color: #f85b5b;
      font-size: 10px;
      margin-top: 1px;
      margin-right: 4px;
      animation: beat_d10 0.9s ease-in-out infinite;
    }
  }

  .energy {
    position: absolute;
    top: 129px;
    right: 55px;
  }
}

@for $i from 1 through 15 {
  .point-set-#{$i} {
    position: absolute;
    height: 188px;
    width: 188px;
    top: 12px;
    left: 12px;
    // background: grey;
    transform: rotate((($i - 1) * 6) + deg);
    //     右上角0~90°的刻度
    .point-1 {
      position: absolute;
      width: 2px;
      height: 2px;
      top: 0;
      left: 93px;
      background: #d3d3d3;
    }
    //     右下角91~180°的刻度
    .point-2 {
      @extend .point-1;
      top: 93px;
      left: auto;
      right: 0;
    }
    //     左下角181~270°的刻度
    .point-3 {
      @extend .point-1;
      top: auto;
      bottom: 0;
    }
    //     左上角271~360°的刻度
    .point-4 {
      @extend .point-1;
      top: 93px;
      left: 0;
    }
  }
}

.spinner_d10 {
  position: absolute;
  width: 202px;
  height: 202px;
  border-radius: 50%;
  top: 5px;
  left: 5px;

  circle {
    stroke: #f85b5b;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 625;
    animation: spinner_d10 $speed linear infinite;
    transform-origin: center center;
    transform: rotate(-90deg);
  }
}

@keyframes spinner_d10 {
  from {
    stroke-dashoffset: 625;
    transform: rotate(-90deg) scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: rotate(-90deg) scaleY(1);
  }
  50.001% {
    transform: rotate(-90deg) scaleY(-1);
  }
  to {
    stroke-dashoffset: 625;
    transform: rotate(-90deg) scaleY(-1);
  }
}

@keyframes beat_d10 {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
}
