.day3 {
  -webkit-box-shadow: 10px 20px 40px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 20px 40px 0px rgba(0, 0, 0, 0.5);
  background: #272c34;
}

.circle_d3 {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 180px;
}

.circle_d3 .sky {
  position: absolute;
  left: 0;
  right: 0;
  height: 124px;
  background: #7ddffc;
  z-index: 0;
  -webkit-animation: sky-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: sky-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.circle_d3 .sun {
  -webkit-transform-origin: 50% 400%;
          transform-origin: 50% 400%;
  -webkit-animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  position: absolute;
  z-index: 2;
  height: 34px;
  width: 34px;
  top: 14px;
  left: 73px;
  border-radius: 50%;
  background: #ffef00;
}

.circle_d3 .leftside {
  position: absolute;
  background: #f4f4f4;
  width: 116px;
  height: 57px;
  top: 67px;
  left: 35px;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
          clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  -webkit-animation: pyramide-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: pyramide-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.circle_d3 .rightside {
  animation: pyramide-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite reverse;
  position: absolute;
  width: 58px;
  height: 57px;
  top: 67px;
  left: 93px;
  background: #dddada;
  -webkit-clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
          clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
}

.circle_d3 .shadow {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: shadow-on-the-floor 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: shadow-on-the-floor 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  position: absolute;
  -webkit-clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
          clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
  z-index: 2;
  top: 124px;
  left: -80px;
  height: 30px;
  width: 360px;
  background: rgba(0, 0, 0, 0.2);
}

.circle_d3 .ground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 1;
  background: #f0de75;
  -webkit-animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
          animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@-webkit-keyframes sun-goes-down {
  0% {
    background: #f57209;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  30% {
    background: #ffef00;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: orangered;
  }
  100% {
    background: #f57209;
    -webkit-transform: scale(1) rotate(70deg);
            transform: scale(1) rotate(70deg);
  }
}

@keyframes sun-goes-down {
  0% {
    background: #f57209;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  30% {
    background: #ffef00;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: orangered;
  }
  100% {
    background: #f57209;
    -webkit-transform: scale(1) rotate(70deg);
            transform: scale(1) rotate(70deg);
  }
}

@-webkit-keyframes sky-turns-black {
  0% {
    background: #272c34;
  }
  30% {
    background: #7ddffc;
  }
  70% {
    background: #ffa500;
  }
  100% {
    background: #272c34;
  }
}

@keyframes sky-turns-black {
  0% {
    background: #272c34;
  }
  30% {
    background: #7ddffc;
  }
  70% {
    background: #ffa500;
  }
  100% {
    background: #272c34;
  }
}

@-webkit-keyframes pyramide-shading {
  0% {
    background: #272c34;
  }
  30% {
    background: #f4f4f4;
  }
  70% {
    background: #dddada;
  }
  100% {
    background: #272c34;
  }
}

@keyframes pyramide-shading {
  0% {
    background: #272c34;
  }
  30% {
    background: #f4f4f4;
  }
  70% {
    background: #dddada;
  }
  100% {
    background: #272c34;
  }
}

@-webkit-keyframes shadow-on-the-floor {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
  }
  55% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
  }
}

@keyframes shadow-on-the-floor {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
  }
  55% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
            clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
  }
}

@-webkit-keyframes fading-sand {
  0% {
    background: #272c34;
  }
  30% {
    background: #f0de75;
  }
  70% {
    background: #f0de75;
  }
  100% {
    background: #272c34;
  }
}

@keyframes fading-sand {
  0% {
    background: #272c34;
  }
  30% {
    background: #f0de75;
  }
  70% {
    background: #f0de75;
  }
  100% {
    background: #272c34;
  }
}
/*# sourceMappingURL=day3.css.map */