.day7 {
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #264057;
  color: #666;
}

.panel_d7 {
  position: absolute;
  z-index: 2;
  height: 300px;
  width: 300px;
  top: 50px;
  left: 50px;
  background: #fff;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.panel_d7.show-menu {
  -webkit-transform: translate3d(150px, 0, 0);
          transform: translate3d(150px, 0, 0);
}

.panel_d7 .header {
  height: 60px;
  width: 100%;
  background: #5f98cd;
}

.panel_d7 .header .menu-icon {
  position: absolute;
  width: 29px;
  height: 15px;
  top: 23px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}

.panel_d7 .header .menu-icon:hover .dash-top, .panel_d7 .header .menu-icon:hover .dash-bottom,
.panel_d7 .header .menu-icon:hover .dash-bottom,
.panel_d7 .header .menu-icon:hover .circle {
  background: #fff;
}

.panel_d7 .header .menu-icon .dash-top, .panel_d7 .header .menu-icon .dash-bottom {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  left: 0;
  background: #b2daff;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.panel_d7 .header .menu-icon .dash-bottom {
  width: 29px;
  top: auto;
  bottom: 0;
}

.panel_d7 .header .menu-icon .circle {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  top: -2px;
  right: 0;
  background: #b2daff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.panel_d7 .header .title {
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.panel_d7 .header .search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 13px;
  right: 55px;
  width: 230px;
  height: 34px;
  border-radius: 17px;
  border: none;
  background: #fff;
  padding: 0 17px;
  font-size: 13px;
  color: #666;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
  pointer-events: none;
}

.panel_d7 .header .search-input:focus {
  outline: none;
}

.panel_d7 .header .search-input.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}

.panel_d7 .header .search-icon {
  position: absolute;
  z-index: 2;
  font-size: 21px;
  color: #b2daff;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel_d7 .header .search-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.panel_d7 .notifications {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.panel_d7 .notifications .line {
  position: absolute;
  top: 0;
  left: 27px;
  bottom: 0;
  width: 3px;
  background: #ebebeb;
}

.panel_d7 .notifications .notification {
  position: relative;
  z-index: 2;
  margin: 25px 20px 25px 43px;
}

.panel_d7 .notifications .notification:nth-child(2) {
  -webkit-animation: here-am-i 0.5s ease-out 0.4s;
          animation: here-am-i 0.5s ease-out 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.panel_d7 .notifications .notification:nth-child(3) {
  -webkit-animation: here-am-i 0.5s ease-out 0.6s;
          animation: here-am-i 0.5s ease-out 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.panel_d7 .notifications .notification:nth-child(4) {
  -webkit-animation: here-am-i 0.5s ease-out 0.8s;
          animation: here-am-i 0.5s ease-out 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.panel_d7 .notifications .notification:hover {
  color: #5f98cd;
  cursor: pointer;
}

.panel_d7 .notifications .notification .circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 2px solid #5f98cd;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
}

.panel_d7 .notifications .notification .time {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 2px;
}

.panel_d7 .notifications .notification p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.panel_d7 .notifications .notification b {
  font-weight: 600;
}

.menu_d7 {
  position: absolute;
  width: 170px;
  height: 270px;
  top: 65px;
  left: 50px;
  background: #43627d;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
}

.menu_d7.active {
  -webkit-box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu_d7 ul {
  margin: 0;
  padding: 10px 0;
}

.menu_d7 li {
  color: #93b2cd;
  margin: 0;
  padding: 18px 17px;
  list-style: none;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu_d7 li:hover {
  color: #fff;
  background: #385269;
}

.menu_d7 li span {
  position: relative;
  float: left;
  width: 30px;
  margin-right: 2px;
  margin-top: -1px;
}

@-webkit-keyframes here-am-i {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes here-am-i {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=day7.css.map */