@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400,500,600,200,800);
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .leftside_nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20%;
}

body .leftside_nav .menu_left {
  display: none;
}

body h1 {
  text-align: center;
}

body h2 a {
  color: grey;
}

body h2 a.title {
  color: #000;
}

body .title {
  color: #000;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .navbar .daybar {
  width: 3rem;
  height: 3rem;
  background: #22c55e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
  margin-right: 3px;
  margin-bottom: 3px;
}

body .navbar .daybar:hover {
  font-weight: 900;
  background: #1a9a49;
  color: dimgrey;
}

body a {
  text-decoration: none;
}

body a.none {
  display: none;
}

body a.back {
  display: block;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
  background: lightgreen;
  color: darkgreen;
}

body a.back:focus {
  color: #fff;
}

body a.back:hover {
  background: #1bbe9e;
  color: #fff;
}

body a.nav-active {
  font-weight: 900;
}

body a.nav-active .day {
  color: gray;
}

body .bottom_nav {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 98%;
  bottom: 0;
}

body .bottom_nav span {
  width: 20vw;
  font-size: 20px;
  line-height: 40px;
  padding: 10px 20px;
}

body .bottom_nav span a {
  color: forestgreen;
}

body .bottom_nav span a:hover {
  color: crimson;
}

body .bottom_nav span a:focus-within {
  color: crimson;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.css100_description {
  width: 25vw;
  position: absolute;
  right: 1%;
  top: 40%;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.css100_description a {
  color: forestgreen;
}

.css100_description a:hover {
  color: crimson;
}

.css100_description a:focus-within {
  color: crimson;
}

.menu_right {
  position: absolute;
  background: transparent;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 150px;
  top: 40%;
  right: 0;
  translate: 100px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.menu_right :hover {
  background: #fff;
  border: 1px solid #000;
}

@media screen and (max-width: 1000px) {
  .css100_description {
    display: none;
  }
  .css100_description.active {
    display: block;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .menu_right {
    translate: 0px;
  }
  .menu_right.rotate i {
    rotate: 180deg;
  }
}
/*# sourceMappingURL=index.css.map */