// use only the available space inside the 400x400 frame
.day1 {
  background: linear-gradient(to top left, #43389f 0%, #4ec6ca 100%);
  color: #fff; // remember to put after font-family
}

.number {
  position: relative;
  left: 20px;
  height: 100px;
  width: 200px;
  .block {
    position: absolute;
    width: 30px;
    height: 100px;
    z-index: 10;
    background-color: #43389f;
  }
  .three-one,
  .three-two {
    position: absolute;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    border: 20px solid #fff;
    z-index: 0;
  }
  .three-two {
    width: 90px;
    top: 40px;
  }
  .one-one {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -18px;
    height: 40px;
    width: 20px;
    background: #fff;
    border-radius: 3px;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0, 0, 200, 0.5);
  }
  .one-two {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0px;
    height: 100px;
    width: 24px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 200, 0.5);
  }
  .zero-one,
  .zero-two {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 25px;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 24px solid #fff;
    box-shadow: 0 0 13px 0 rgba(0, 0, 200, 0.5);
  }
  .zero-two {
    z-index: 6;
    left: 110px;
  }
}
.big {
  display: block;
  font-size: 85px;
  line-height: 70px; // don't know what it is
  text-transform: uppercase;
  font-weight: 700;
}
.small {
  display: block;
  font-size: 23px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
}
