// use only the available space inside the 400x400 frame
.day1 {
  background: linear-gradient(to top left, #43389f 0%, #4ec6ca 100%);
}

.number_d1 {
  position: relative;
  width: 200px;
  height: 100px;
  left: -10px;
  .one-one {
    position: absolute;
    left: -5px;
    width: 20px;
    height: 40px;
    transform: rotate(50deg);
    border-radius: 2px;
    background: #fff;
  }
  .one-two {
    position: absolute;
    width: 25px;
    height: 100px;
    left: 12px;
    z-index: 10;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 2px;
  }
  .zero-one,
  .zero-two {
    position: absolute;
    border-radius: 50%;
    background: none;
    border: 25px solid #fff;
    box-sizing: border-box;
    left: 25px;
    width: 100px;
    height: 100px;
    z-index: 8;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  }
  .zero-two {
    left: 110px;
    z-index: 5;
  }
}
.day_d1 {
  display: block;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
}
.challenge {
  letter-spacing: 1px;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
