.day5 {
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  background: #42a7a1;
  color: #333;
}

.card_d5 {
  position: absolute;
  width: 280px;
  height: 220px;
  top: 90px;
  left: 60px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card_d5 .header {
  position: relative;
  background: #f1ba64;
  width: 100%;
  height: 60px;
  padding: 2px;
}

.card_d5 .header .big {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.card_d5 .header .small {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
}

.card_d5 .header .title {
  top: 12px;
  left: 15px;
}

.card_d5 .header .date {
  left: 15px;
  bottom: 15px;
}

.card_d5 .header .type {
  right: 15px;
  top: 15px;
}

.card_d5 .header .value {
  right: 15px;
  bottom: 15px;
}

.card_d5 .legend {
  text-align: right;
  padding: 10px 0 14px 0;
}

.card_d5 .legend span {
  position: relative;
  font-size: 9px;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}

.card_d5 .legend span::before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: "";
  width: 11px;
  height: 3px;
  border-radius: 3px;
}

.card_d5 .legend .red::before {
  background: #fa7373;
}

.card_d5 .legend .blue::before {
  background: #7ba2ff;
}

.card_d5 .statistic {
  position: relative;
  height: 81px;
  width: 260px;
  margin: 0 auto;
}

.card_d5 .statistic .line1, .card_d5 .statistic .line2, .card_d5 .statistic .line3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #f2f2f2;
}

.card_d5 .statistic .line2 {
  top: 40px;
}

.card_d5 .statistic .line3 {
  top: inherit;
  bottom: 0;
}

.card_d5 .statistic .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card_d5 .statistic .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.card_d5 .statistic .data.red polyline {
  stroke: #fa7373;
}

.card_d5 .statistic .data.blue polyline {
  stroke: #7ba2ff;
}

.card_d5 .statistic .data .tooltip {
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 10px, 0);
          transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s;
}

.card_d5 .statistic .data .tooltip:after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card_d5 .statistic .data [class^="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  cursor: pointer;
  z-index: 10;
}

.card_d5 .statistic .data [class^="point-"]:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.card_d5 .statistic .data.red [class^="point-"],
.card_d5 .statistic .data.red .tooltip,
.card_d5 .statistic .data.red .tooltip:after {
  background: #fa7373;
}

.card_d5 .statistic .data.red .point-1 {
  left: 7px;
  top: -2px;
}

.card_d5 .statistic .data.red .point-2 {
  left: 48px;
  top: 12px;
}

.card_d5 .statistic .data.red .point-3 {
  left: 88px;
  top: 17px;
}

.card_d5 .statistic .data.red .point-4 {
  left: 128px;
  top: 22px;
}

.card_d5 .statistic .data.red .point-5 {
  left: 169px;
  top: 27px;
}

.card_d5 .statistic .data.red .point-6 {
  left: 209px;
  top: 32px;
}

.card_d5 .statistic .data.red .point-7 {
  left: 249px;
  top: 37px;
}

.card_d5 .statistic .data.blue [class^="point-"],
.card_d5 .statistic .data.blue .tooltip,
.card_d5 .statistic .data.blue .tooltip:after {
  background: #7ba2ff;
}

.card_d5 .statistic .data.blue .point-1 {
  left: 7px;
  top: 36px;
}

.card_d5 .statistic .data.blue .point-2 {
  left: 48px;
  top: 51px;
}

.card_d5 .statistic .data.blue .point-3 {
  left: 88px;
  top: 55px;
}

.card_d5 .statistic .data.blue .point-4 {
  left: 128px;
  top: 66px;
}

.card_d5 .statistic .data.blue .point-5 {
  left: 169px;
  top: 71px;
}

.card_d5 .statistic .data.blue .point-6 {
  left: 209px;
  top: 71px;
}

.card_d5 .statistic .data.blue .point-7 {
  left: 249px;
  top: 76px;
}

.card_d5 .days {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_d5 .days .day {
  width: 40px;
  text-align: center;
  letter-spacing: normal;
  font-size: 12px;
  color: #949494;
  line-height: 30px;
}
/*# sourceMappingURL=day5.css.map */