$red: #fa7373;
$blue: #7ba2ff;

.day5 {
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  background: #42a7a1;
  color: #333;
}
.card_d5 {
  //   font-family: "Open Sans", Helvetica, sans-serif;
  position: absolute;
  width: 280px;
  height: 220px;
  top: 90px;
  left: 60px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;

  .header {
    position: relative;
    background: #f1ba64;
    width: 100%;
    height: 60px;
    padding: 2px;
    .big {
      position: absolute;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
    }
    .small {
      position: absolute;
      font-weight: 400;
      font-size: 12px;
    }
    .title {
      top: 12px;
      left: 15px;
    }
    .date {
      left: 15px;
      bottom: 15px;
    }
    .type {
      right: 15px;
      top: 15px;
    }
    .value {
      right: 15px;
      bottom: 15px;
    }
  }

  .legend {
    text-align: right;
    padding: 10px 0 14px 0;
    span {
      position: relative;
      font-size: 9px;
      color: #606060;
      line-height: 13px;
      padding: 0 10px 0 25px;
    }
    span::before {
      position: absolute;
      left: 6px;
      top: 6px;
      display: block;
      content: "";
      width: 11px;
      height: 3px;
      border-radius: 3px;
    }
    .red::before {
      background: $red;
    }
    .blue::before {
      background: $blue;
    }
  }

  .statistic {
    position: relative;
    height: 81px;
    width: 260px;
    margin: 0 auto;
    .line1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #f2f2f2;
    }
    .line2 {
      @extend .line1;
      top: 40px;
    }
    .line3 {
      @extend .line1;
      top: inherit;
      bottom: 0;
    }
    .data {
      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      polyline {
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;
      }

      &.red polyline {
        stroke: $red;
      }

      &.blue polyline {
        stroke: $blue;
      }

      .tooltip {
        position: absolute;
        bottom: 13px;
        left: 50%;
        transform: translate3d(-50%, 10px, 0);
        font-weight: 600;
        font-size: 11px;
        line-height: 11px;
        color: #fff;
        padding: 8px 6px;
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;

        &:after {
          position: absolute;
          display: block;
          content: "";
          height: 6px;
          width: 6px;
          left: 50%;
          margin-left: -3px;
          bottom: -3px;
          transform: rotate(45deg);
        }
      }

      [class^="point-"] {
        position: absolute;
        width: 6px;
        height: 6px;
        // border-radius: 3px;
        cursor: pointer;
        z-index: 10;

        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
          transform: translate3d(-50%, 0, 0);
        }
      }

      &.red {
        [class^="point-"],
        .tooltip,
        .tooltip:after {
          background: $red;
        }

        .point-1 {
          left: 7px;
          top: -2px;
        }
        .point-2 {
          left: 48px;
          top: 12px;
        }
        .point-3 {
          left: 88px;
          top: 17px;
        }
        .point-4 {
          left: 128px;
          top: 22px;
        }
        .point-5 {
          left: 169px;
          top: 27px;
        }
        .point-6 {
          left: 209px;
          top: 32px;
        }
        .point-7 {
          left: 249px;
          top: 37px;
        }
      }

      &.blue {
        [class^="point-"],
        .tooltip,
        .tooltip:after {
          background: $blue;
        }

        .point-1 {
          left: 7px;
          top: 36px;
        }
        .point-2 {
          left: 48px;
          top: 51px;
        }
        .point-3 {
          left: 88px;
          top: 55px;
        }
        .point-4 {
          left: 128px;
          top: 66px;
        }
        .point-5 {
          left: 169px;
          top: 71px;
        }
        .point-6 {
          left: 209px;
          top: 71px;
        }
        .point-7 {
          left: 249px;
          top: 76px;
        }
      }
    }
  }

  .days {
    width: 280px;
    display: flex;
    .day {
      width: 40px;
      text-align: center;
      letter-spacing: normal;
      font-size: 12px;
      color: #949494;
      line-height: 30px;
    }
  }
}
